/* Main part */
.container {
  max-width: 600px;
  background-color: var(--dark-color  );
  color: #ffffff;
  margin: 30px auto;
  padding: 2rem 1rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  overflow: hidden;
}

.container h1 {
  text-align: center;
  font-size: 2.7rem;
}

.container ul {
  margin-top: 2rem;
}

.list-items {
  text-align: center;
  font-size: 2rem;
  background-color: var(--light-color );
  color: #000000;
  border: 1.5px solid #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}